// Noto Serif - Regular 400, Regular 400 Italic, Bold 700
$noto-serif: 'Noto Serif', serif;
// Noto Serif Display - Regular 400, Regular 400 Italic, Bold 700
$noto-serif-display: 'Noto Serif Display', serif;
// Open Sans - Light 300, Light 300 Italic, Regular 400, Regular 400 Italic, Medium 500, Medium 500 Italic, Semi-bold 600, Semi-bold Italic, Bold 700, Bold 700 Italic, Extra-bold 800, Extra-bold 800 italic
$open-sans: 'Open Sans', sans-serif;