@use '../lib';

.listing-preview {
    background: lib.$bright-navy-blue-60; 
    margin: 1rem;
    box-shadow: lib.$card;
    border: lib.$shaded 2px solid;
    border-radius: 10px;

    .preview-header {

        .preview-title {
            margin: 0 1rem;
        }
        
        .preview-tags {
            font-size: 1.0rem;
        }
    }

    .listing-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .preview-span {
        margin: 1rem;
        font-size: 1.2rem;
    }

    .price {
        font-size: 2rem;
        font-weight: bold;
    }
}